.repo/
plans/
.gitignore
.gitlab-ci.yml
LICENSE.md
.vscode/
.vscode*
.git/
.venv/
.venv*/
.cache
.terraform/
.tfplan
terraform.*
**.pyc
**.tf
**.tfstate
.dockerignore
**/__pycache__/
.autoenv.zsh
.autoenv_leave.zsh
.pylintrc
Makefile
README.md
**/build/
*.tgz
*.zip
.lh/
.ci/
.development/
